.organizations {

    &__title {
        font-size: 30px;
        font-family: "White On Black", sans-serif;
        color: #00ADB5;

    };

    &__avatar {
        &__container {
            width: 150px;
            height: 150px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}