<ng-container *ngIf="allGitUsers$ | async as allGitUsers; else showLoading">

    <div class="view-buttons">
        <div class="buttons__list">
            <img (click) = 'toggleView("grid")' 
                 src="assets/img/2.svg" 
                 alt="list_view">
        </div>
        <div class="buttons__grid">
            <img (click) = 'toggleView()' 
                 src="assets/img/3.svg" 
                 alt="grid_view">
        </div>
    </div>

    <div class="row">   
        <div *ngFor="let item of allGitUsers" 
             [ngClass]="{'box-grid': isGridView, 'box-list': !isGridView}"
             (click) = 'routeToSelectedUser(item.login)'
             class="box"
             >
            <app-user-details [userUrl] = 'item.url' [isFilteredUsers] = 'false'></app-user-details>
        </div> 
    </div>

</ng-container>

<ng-template #showLoading>
    <div class="loading">
        <img src="assets/img/loading.svg" alt="">
    </div>
</ng-template>


