/* You can add global styles to this file, and also import other style files */
@import 'src/assets/variables';

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    height: 0;
    background-color: $light-grey;
    font-family: 'Bekelakar', sans-serif;

}